body {
  background-color: #4B145B;
}

.App {
  width: 100vw;
  height: 100vh;
}

.container {
  margin: 25vh auto;
  width: 850px;
  background-color: white;
  border-radius: 5px;
  padding: 35px;
  display: flex;
}

.left {
  flex: 1;
  padding: 0 15px 0 0;
  color: #102A42;
}

.left h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 100;
}

.right {
  flex: 3;
}

.portion {
  border-radius: 3px;
  border: 1px solid rgb(223, 223, 223);
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 3px gray;
}

.portion .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portion .top p {
  color: #102A42;
}

.portion .top button {
  color: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #EAE6EB;
  border: none;
}

.portion .top button:hover {
  cursor: pointer;
}

.portion .info {
  margin-top: 10px;
  color: gray;
}